server:
  port: 8090


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/scott
    username: scott
    password: tiger
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
